
<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
<p-table
  #singleSelectionTable
  id="singleSelectionTable"
  [ngClass]="{ bordered: isBordered }"
  [tableStyle]="tableStyle"
  [value]="listOfItems"
  [paginator]="hasPagination"
  [rows]="rows"
  selectionMode="single"
  [(selection)]="selectedRow"
  [dataKey]="dataKey"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [columns]="hasColumnGroup ? groupedColumnOptions : gridColumnOptions"
  editMode="row"
  [lazy]="hasLazyLoading"
  [totalRecords]="totalRecords"
  [loading]="loadingSpinner"
  (onRowSelect)="onRowSelected($event)"
  (onLazyLoad)="onLazyLoadEvent($event)"
  [(first)]="firstOffset"
  [sortField]="sortField!"
  [sortOrder]="sortOrder"
  styleClass="p-datatable-gridlines" 
>
  <ng-template *ngIf="hasColumnGroup" pTemplate="header" let-columns>
    <tr *ngFor="let gridcol of columns">
      <th *ngIf="hasradioButton" style="width: 4rem"></th>

      <ng-container *ngFor="let col of gridcol.gridColumnOptions">
        <th
          *ngIf="col.isSortable"
          [pSortableColumn]="col.field!"
          [ngStyle]="{ width: col.width }"
          [attr.rowspan]="col.rowspan"
          [attr.colspan]="col.colspan"
        >
          {{ col.header }}
          <p-sortIcon *ngIf="col.isSortable" [field]="col.field!"></p-sortIcon>
          <p-columnFilter
            *ngIf="col.hasFilter"
            [field]="col.field!"
            type="text"
            [showAddButton]="false"
            [showOperator]="false"
            display="menu"
          ></p-columnFilter>
        </th>

        <th *ngIf="!col.isSortable" [attr.rowspan]="col.rowspan" [attr.colspan]="col.colspan">
          {{ col.header }}
          <p-columnFilter
            *ngIf="col.hasFilter"
            [field]="col.field!"
            display="menu"
            [showAddButton]="false"
            [showOperator]="false"
          ></p-columnFilter>
        </th>
      </ng-container>
    </tr>
  </ng-template>

  <ng-template *ngIf="!hasColumnGroup" pTemplate="header" let-columns>
    <tr>
      <th *ngIf="hasradioButton" style="width: 4rem"></th>

      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.isSortable" [pSortableColumn]="col.field!" [ngStyle]="{ width: col.width }">
          {{ col.header }}
          <p-sortIcon *ngIf="col.isSortable" [field]="col.field!"></p-sortIcon>
          <p-columnFilter
            *ngIf="col.hasFilter"
            [field]="col.field!"
            type="text"
            [showAddButton]="false"
            [showOperator]="false"
            display="menu"
          ></p-columnFilter>
        </th>

        <th *ngIf="!col.isSortable" rowspan="col.rowspan" colspan="col.colspan">
          {{ col.header }}
          <p-columnFilter
            *ngIf="col.hasFilter"
            [field]="col.field!"
            display="menu"
            [showAddButton]="false"
            [showOperator]="false"
          ></p-columnFilter>
        </th>
      </ng-container>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-rowIndex="rowIndex">
    <tr [pEditableRow]="rowData" #htmlTableRowElement *ngIf="hasColumnGroup">
      <td *ngIf="hasradioButton">
        <p-tableRadioButton [value]="rowData" (click)="onRadioSelected()"></p-tableRadioButton>
      </td>
      <td *ngFor="let col of getFilteredGroupColumns()" [class]="col.dataClass! + ' ' + rowData[col.field! + 'Class']">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <div class="form-group">
              <input
                *ngIf="col.isEditable"
                type="{{ col.inputType !== undefined ? col.inputType : 'text' }}"
                class="form-control"
                [(ngModel)]="rowData[col.field!]"
              />
            </div>
          </ng-template>
          <ng-template *ngIf="!col.hasRouterLink" class="" pTemplate="output">
            {{ rowData[col.field!!] }}
          </ng-template>
          <ng-template *ngIf="col.hasRouterLink" pTemplate="output">
            <a routerLink="col.routerLink +'/' + rowData[dataKey] + '/view'">{{ rowData[col.field!] }}</a>
          </ng-template>
        </p-cellEditor>
      </td>

      <td *ngFor="let col of getStandaloneColumns()" [class]="col.dataClass!">
        <strong> {{ rowIndex === 0 ? rowData[col.field!] : '' }}</strong>
      </td>

      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button *ngIf="!editing && canEdit" pInitEditableRow pRipple class="btn btn-primary" (click)="onRowEditInit(rowData, rowIndex)"  title="Edit"
            ><i class="feather icon-edit"></i
          ></button>
          <button *ngIf="!editing && canDelete" iconType="delete" class="m-2 btn btn-primary" (click)="onRowDelete(rowData, rowIndex)" title="Delete"
            ><i class="feather icon-trash"></i
          ></button>
          <button *ngIf="canCopy && !editing" iconType="copy" class="m-2 btn btn-primary" (click)="onRowCopyEvent(rowData)" title="Clone">
            <span *ngIf="isCopying && rowData === currentEventItem" class="spinner-border spinner-border-sm me-1"></span>
            <i *ngIf="!(isCopying && rowData === currentEventItem)" class="feather icon-copy"></i
          ></button>
          <button *ngIf="canPreview && !editing" iconType="eye" class="m-2 btn btn-primary" (click)="onRowPreviewEvent(rowData)" title="View"
            ><i class="feather icon-eye"></i
          ></button>
          <button *ngIf="canDownload && !editing" iconType="eye" class="m-2 btn btn-primary" (click)="onRowDownloadEvent(rowData)" title="Download">
            <span *ngIf="isDownloading && rowData === currentEventItem" class="spinner-border spinner-border-sm me-1"></span>
            <i *ngIf="!(isDownloading && rowData === currentEventItem)" class="feather icon-download"></i
          ></button>
          <button
            *ngIf="editing"
            pSaveEditableRow
            type="button"
            class="btn btn-primary"
            (click)="onRowEditSave(rowData, htmlTableRowElement)"
            ><i class="feather icon-save"></i
          ></button>
          <button
            ton
            *ngIf="editing"
            type="button"
            pCancelEditableRow
            class="m-2 btn btn-primary"
            (click)="onRowEditCancel(rowData, rowIndex)"
            ><i class="feather icon-x"></i
          ></button>
        </div>
      </td>
    </tr>

    <tr [pEditableRow]="rowData" #htmlTableRowElement *ngIf="!hasColumnGroup">
      <td *ngIf="hasradioButton" htmlTableRowElement (click)="onRowSelected(rowData)">
        <p-tableRadioButton [value]="rowData" (click)="onRadioSelected()"></p-tableRadioButton>
      </td>
      <td *ngFor="let col of getFilteredColumns()" [class]="col.dataClass! + ' ' + rowData[col.field! + 'Class']">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              *ngIf="col.isEditable"
              type="{{ col.inputType !== undefined ? col.inputType : 'text' }}"
              class="form-control"
              [(ngModel)]="rowData[col.field!]"
            />
          </ng-template>
          <ng-template *ngIf="!col.hasRouterLink" pTemplate="output">
            {{ rowData[col.field!] }}
          </ng-template>
          <ng-template *ngIf="col.hasRouterLink" pTemplate="output">
            <a routerLink="col.routerLink +'/' + rowData[dataKey] + '/view'">{{ rowData[col.field!] }}</a>
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button *ngIf="!editing && canEdit" pInitEditableRow pRipple class="btn btn-primary" (click)="onRowEditInit(rowData, rowIndex)"  title="Edit"
          ><i class="feather icon-edit"></i
        ></button>
        <button *ngIf="!editing && canDelete" iconType="delete" class="m-2 btn btn-primary" (click)="onRowDelete(rowData, rowIndex)" title="Delete"
          ><i class="feather icon-trash"></i
        ></button>
        <button *ngIf="canCopy && !editing" iconType="copy" class="m-2 btn btn-primary" (click)="onRowCopyEvent(rowData)" title="Clone">
          <span *ngIf="isCopying && rowData === currentEventItem" class="spinner-border spinner-border-sm me-1"></span>
          <i *ngIf="!(isCopying && rowData === currentEventItem)" class="feather icon-copy"></i
        ></button>
        <button *ngIf="canPreview && !editing" iconType="eye" class="m-2 btn btn-primary" (click)="onRowPreviewEvent(rowData)" title="View"
          ><i class="feather icon-eye"></i
        ></button>
        <button *ngIf="canDownload && !editing" iconType="eye" class="m-2 btn btn-primary" (click)="onRowDownloadEvent(rowData)" title="Download">
          <span *ngIf="isDownloading && rowData === currentEventItem" class="spinner-border spinner-border-sm me-1"></span>
          <i *ngIf="!(isDownloading && rowData === currentEventItem)" class="feather icon-download"></i
        ></button>
          <button
            *ngIf="editing"
            pSaveEditableRow
            type="button"
            class="btn btn-primary"
            (click)="onRowEditSave(rowData, htmlTableRowElement)"
            ><i class="feather icon-save"></i
          ></button>
          <button
            ton
            *ngIf="editing"
            type="button"
            pCancelEditableRow
            class="m-2 btn btn-primary"
            (click)="onRowEditCancel(rowData, rowIndex)"
            ><i class="feather icon-x"></i
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-c>
    <tr>
      <td [attr.colspan]="c.length"> No records found </td>
    </tr>
  </ng-template>
</p-table>